<ion-header>
  <ion-toolbar>
    <ion-title>Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="authForm" (ngSubmit)="submit()">

    <ion-item>
      <ion-label position="floating">Email :</ion-label>
      <ion-input formControlName="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Password :</ion-label>
      <ion-input formControlName="password" placeholder="Password" [type]="showPassword ? 'text' : 'password'"></ion-input>
      <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-button (click)="submit()" [disabled]="authForm.invalid">
        &nbsp;Connexion
      </ion-button>
    </ion-item>

  </form>

</ion-content>
