<ion-header>
  <ion-toolbar>
    <ion-title>Create an account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="userForm" (ngSubmit)="submit()">

    <ion-item>
      <ion-label position="floating">First Name :</ion-label>
      <ion-input formControlName="firstName" placeholder="First Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last Name :</ion-label>
      <ion-input formControlName="lastName" placeholder="Last Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Username (between 5 and 15 characters) :</ion-label>
      <ion-input formControlName="username" placeholder="Username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address :</ion-label>
      <ion-input formControlName="address" placeholder="Address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Birthdate :</ion-label>
      <ion-datetime formControlName="birthdate" placeholder="Birthdate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email :</ion-label>
      <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Password :</ion-label>
      <ion-input formControlName="password" placeholder="Password" [type]="showPassword ? 'text' : 'password'"></ion-input>
      <ion-icon slot="end" [name]="showPassword ? 'eye' : 'eye-off-outline'" (click)="togglePassword()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm your password :</ion-label>
      <ion-input formControlName="confirmPassword" placeholder="Confirm password" [type]="showConfirmPassword ? 'text' : 'password'"></ion-input>
      <ion-icon slot="end" [name]="showConfirmPassword ? 'eye' : 'eye-off-outline'" (click)="toggleConfirmPassword()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-button (click)="submit()" [disabled]="userForm.invalid">
        <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
        &nbsp;Create account
      </ion-button>
    </ion-item>

  </form>

</ion-content>
