<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-list style="text-align: center">
      <ion-button (click)="goToUserProfil()">
        <ion-icon class="btn-Icon" name="person-circle-outline"></ion-icon>
        {{ dataUser.username }}'s profile
      </ion-button>
      <ion-button (click)="logout()" color="danger">
        <ion-icon class="btn-Icon" name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>


  </ion-list>

</ion-content>
