<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-list style="text-align: center">
      <ion-button (click)="goToUserProfil()" color="primary">
        <ion-icon class="btn-Icon" name="person-circle-outline"></ion-icon>
        {{ dataUser.username }}'s profile
      </ion-button>
      <ion-button (click)="logout()" color="danger">
        <ion-icon class="btn-Icon" name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-list>

    <ion-list *ngFor="let user of users">
      <ion-list>
        <ion-label>uid = {{user.id}}</ion-label>
        <app-conversation-overview [username]="user.username" [uid]="user.id"></app-conversation-overview>
      </ion-list>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

  </ion-list>

</ion-content>
